<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Made_Loop54>
            <version>1.0.0</version>
        </Made_Loop54>
    </modules>
    <global>
        <models>
            <made_loop54>
                <class>Made_Loop54_Model</class>
                <resourceModel>made_loop54_resource</resourceModel>
            </made_loop54>
            <made_loop54_resource>
                <class>Made_Loop54_Model_Resource</class>
            </made_loop54_resource>
        </models>
        <helpers>
            <made_loop54>
                <class>Made_Loop54_Helper</class>
            </made_loop54>
        </helpers>
        <blocks>
            <made_loop54>
                <class>Made_Loop54_Block</class>
            </made_loop54>
        </blocks>
    </global>
    <frontend>
        <routers>
            <made_loop54>
                <use>standard</use>
                <args>
                    <module>Made_Loop54</module>
                    <frontName>made_loop54</frontName>
                </args>
            </made_loop54>
        </routers>
        <layout>
            <updates>
                <made_loop54>
                    <file>made/loop54.xml</file>
                </made_loop54>
            </updates>
        </layout>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <register_catalog_product_view>
                        <type>singleton</type>
                        <model>Made_Loop54_Model_Observer</model>
                        <method>registerCatalogProductView</method>
                    </register_catalog_product_view>
                </observers>
            </catalog_controller_product_view>
            <checkout_cart_product_add_after>
                <observers>
                    <register_add_to_cart>
                        <type>singleton</type>
                        <model>Made_Loop54_Model_Observer</model>
                        <method>registerAddToCart</method>
                    </register_add_to_cart>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_submit_all_after>
                <observers>
                    <register_purchase>
                        <type>singleton</type>
                        <model>Made_Loop54_Model_Observer</model>
                        <method>registerPurchase</method>
                    </register_purchase>
                </observers>
            </checkout_submit_all_after>
        </events>
    </frontend>
    <default>
        <catalog>
            <search>
                <loop54_autocomplete_max_results>10</loop54_autocomplete_max_results>
                <loop54_register_events>0</loop54_register_events>
                <loop54_external_id>entity_id</loop54_external_id>
            </search>
        </catalog>
    </default>
</config>
