<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Made_Loop54>
            <version>1.0.0</version>
        </Made_Loop54>
    </modules>
    <global>
        <models>
            <made_loop54>
                <class>Made_Loop54_Model</class>
                <resourceModel>loop54_resource</resourceModel>
            </made_loop54>
            <!--
            <made_loop54_resource>
                <class>Made_Loop54_Model_Resource</class>
                <entities>
                    <message>
                        <table>made_loop54</table>
                    </message>
                </entities>
            </made_loop54_resource>
            -->
        </models>
        <!--
        <resources>
            <made_loop54_setup>
                <setup>
                    <module>Made_Loop54</module>
                </setup>
            </made_loop54_setup>
        </resources>
        -->
        <helpers>
            <made_loop54>
                <class>Made_Loop54_Helper</class>
            </made_loop54>
        </helpers>
        <blocks>
            <made_loop54>
                <class>Made_Loop54_Block</class>
            </made_loop54>
        </blocks>
    </global>
    <frontend>
        <routers>
            <made_loop54>
                <use>standard</use>
                <args>
                    <module>Made_Loop54</module>
                    <frontName>loop54</frontName>
                </args>
            </made_loop54>
        </routers>
    </frontend>
</config>
